*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #CEE8DE;
  width: 70%;
  margin: auto;
}
nav{
  position: relative;
  background-color: black;
  height: 50px;
  color: white;
  margin-bottom:20px;
  padding: 20px;
  margin-top: 10px;
  display: flex;
}
nav h1{
  margin:15px 0 15px 0;
}
span{
  color: #52B3CD;
}
nav ul {
  float: right;
  display: flex;
  /* margin: auto 50px; */
  list-style: none;
  margin: 10px 10px 5px 220px;
  
}
nav ul li{
  margin: auto 15px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
a:hover{
  background-color: chocolate;
}
.container img{
  float: right;
}
.row1,.row2,.row3{
  margin-bottom: 20px;
  padding: 10px;
  line-height: 25px;
}
hr{
  width: 500px;
}
.projects h3{
  margin-bottom: 20px;
}
.projects a{
  color: maroon;
}
.projects li{
  padding: 5px;
}
.hobbies{
  width: 550px;
  height: 400px;
  overflow: scroll;
}
.hobbies ul{
  margin-left: 30px;
  line-height: 25px;
}
.hobbies h3{
  margin: 10px 0;
}
/* .footer{
  margin-top: 150px;

} */
.footer a {
  padding: 5px;
  text-decoration: none;
  margin-right: 10px;

}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 300px;
}.fa-twitter{
  background: #55ACEE;
  color: white;
  border-radius: 300px;
}
.fa-linkedin{
  background: #0073AF;
  color: white;
  border-radius: 300px;
}
.fa-instagram{
  background: #8A66B2;
  color: white;
  border-radius: 300px;
}